 #Teslas 
 {
  background-color: #00ffff; 
 Color: #007214;
 text-align: center; 
 margin: 40px; 
 border: 5px dashed peachpuff;
 padding: 32px;
 

 }

 .Teslamodels
 {
 background-color: #000000;
 color: #ff8000; 
text-align: center;
Margin: 11px; 
border: 4px outset black;
padding: 21px;
 }




.Teslamodels:hover
{
 background-color:brown;
}
  